:root {
  --color-black: #000;
  --color-white: #fff;
  --color-red: #ff0000;
  --color-blue: #181ce7;
  --color-gainsboro: #ddd;
  --color-jazzberry: #bb0545;
  --color-light-grey: rgb(250, 250, 250);
  --bg-pink-gradient: linear-gradient(180deg, rgba(224, 0, 32, 0.3) 0%, #b90547 100%);
  --bg-blue-gradient: linear-gradient(180deg, #001fff 0%, rgba(84, 19, 169, 0.3) 100%);
  --bg-blue-purple: linear-gradient(180deg, rgba(184, 6, 73, 0.3) 0%, #8e0b71 100%);
  --z-index-color: #7e7e8e52;
  --color-average-bar: #ffffff30;
  --color-sla-dot: rgb(253, 251, 251);
  --color-sla-dotchange: rgb(8, 8, 8);
  --color-info-icon: #999999;
  --color-red-gradient: linear-gradient(270deg, rgba(224,0,32,0.3) 0%, #B90547 100%);
  --color-blue-gradient: linear-gradient(90deg, #001FFF 0%, rgba(84,19,169,0.3) 100%);
}
